<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="data:image/webp;base64,UklGRigBAABXRUJQVlA4TBwBAAAvQQAEEK8gkE3uz91iiCDItsU7wUswSVNtx4jqNg8AYm07YZuPAqLEmNLIf/9hJSjtBBH9n4Ciuxlhqn3OUQUAsqpqBoCsqpoRptrnHC3DT+5OJ4PLIcBNkt3dJNldenNpcuRl3HxeZ8S4+3VAjNvXETHul2i0UIFOb1e7SV440untaiN4UqBYCv0AALGGI4l+JADNsQaz+zeg7hGHhNVuRwkEfrrvIDaguYndA81NhNXZkf5/9Eh1n7+pzqLmZqBYZsccqKx+VFVnlB2zS+b6b9LjrADpTZNFB4A7grmnAPKhz8FjMVAd+RhJmhxRRz7GsCNYA7iD5TiCK1iaHMC1M9IZtJ0pOIE8o5mBQ5A7morjKRfNCX+bi5aEEA=="
          alt="Image" class="img-fluid">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Menu one</a></li>
              <!-- <li><a class="dropdown-item" href="#">Menu two</a> -->
              <li class="nav-item">
                <div class="btn-group">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Menu two
                  </button>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Sub Menu One</a></li>
                    <li><a class="dropdown-item" href="#">Sub Menu Two</a></li>
                    <li><a class="dropdown-item" href="#">Sub Menu Three</a></li>
                  </ul>
                </div>
              </li>
              <li><a class="dropdown-item" href="#">Menu three</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contactUs">Contact Us</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

