<app-get-in-to></app-get-in-to>
<div class="abc">
    <p>Contact Us</p>
    <h1>Let's have a talk</h1>
    <form (submit)="sendEmail($event)">
        <div class="form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control">
        </div>

        <div class="form-group mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label>Message</label>
            <textarea name="message" class="form-control"></textarea><br><br>
            <input type="submit" value="Send">
        </div>


    </form>
</div>