<br>
<app-banner></app-banner>
<br>
<app-feature></app-feature><br><br><br><br><br><br>
<br><br><br>
<app-features *ngFor="let messages of message" [data]="messages">
</app-features>
<br>
<app-agency></app-agency>
<br>
<br>
<p>Services</p>
<br>
<h1>Our Services</h1>
<br><br>
  
    <div class="row">
        <app-services *ngFor="let servicese of service" [dis]="servicese"></app-services>
    </div>


<br>
<app-testimonial></app-testimonial>
<br><br><br><br><br><br>

<app-crousal></app-crousal>
<br><br> <br>
